@page { margin: 1in; }

* { font-family: Helvetica, Arial; }

h1 { color: #00f; }

p { line-height: 15px; font-size: 12px; margin-bottom: 30px; }

div#dataPage { page-break-before: always; }

div#lastPage { page-break-before: always; }
